html(lang="en")
    head
        title AiTok Terms and Conditions
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="relative py-24 overflow-hidden")
                div(class="absolute top-0 left-0 h-128 sm:h-156 w-full")
                    div(class="flex h-full justify-between items-start md:items-center")
                        //- img(class="block w-1/2 md:h-full", src="nigodo-assets/background-elements/pattern-dots-2-indigo-left.svg", alt="")
                        //- img(class="block w-1/2 md:h-full", src="nigodo-assets/background-elements/pattern-dots-2-indigo-right.svg", alt="")
                    //- img(class="-mb-1 block w-full", src="nigodo-assets/background-elements/pattern-horizontal-indigo.svg", alt="")
                div(class="container px-4 mx-auto relative")
                    div(class="max-w-4xl mx-auto mb-12 text-center")
                        p(class="text-xl font-bold mb-2")             
                        h1(class="text-3xl md:text-4xl font-extrabold font-heading mb-4") AiTok Terms of Use
                    div(class="max-w-4xl mx-auto")
                        p(class="text-xl font-extrabold leading-7 mb-10", contenteditable="false") AITok App Privacy Policy
                        p(class="text-xl leading-7 mb-10") At AITok, we are committed to protecting your privacy and providing a secure and reliable experience for our users. This privacy policy explains how we collect, use, and share information about you when you use our AITok application.
                        p(class="text-xl font-extrabold leading-7 mb-10") Information We Collect:
                        p(class="text-xl leading-7 mb-10") Device Information: We may collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information).
                        p(class="text-xl leading-7 mb-10") Log Information: When you use our application, we may collect log information, including your search queries, Internet Protocol ("IP") address, browser type, browser language, and the date and time of your request.
                        p(class="text-xl leading-7 mb-10") User Content: We may collect content you create or upload while using the application, such as your comments and posts.
                        p(class="text-xl leading-7 mb-10") Analytic Information: We may collect analytic data or use third-party analytic tools to help us measure traffic and usage trends for our application.
                        p(class="text-xl font-extrabold leading-7 mb-10") How We Use Your Information:
                        p(class="text-xl leading-7 mb-10") We use the information we collect to provide, maintain and improve our applications and services, respond to your queries, and communicate with you about updates or new features. We may also use your information to personalize content and advertisements, provide you with targeted marketing, and comply with legal obligations.
                        p(class="text-xl font-extrabold leading-7 mb-10") How We Share Your Information:
                        p(class="text-xl leading-7 mb-10") We do not sell, trade, or rent your personal information to third parties. However, we may share your information under the following circumstances:
                        p(class="text-xl leading-7 mb-10") Service Providers: We may share your information with service providers who provide services to us (such as analytics providers).
                        p(class="text-xl leading-7 mb-10") Business Transfers: If we participate in a merger, acquisition, or sale of all or part of our assets, your information may be transferred as part of that transaction.
                        p(class="text-xl leading-7 mb-10") Legal Compliance: We may disclose your information in accordance with legal requirements or in response to lawsuits or court orders.
                        p(class="text-xl font-extrabold leading-7 mb-10") Data Retention:
                        p(class="text-xl leading-7 mb-10") We will retain your information for the time necessary to provide applications and services or as required by law.
                        p(class="text-xl font-extrabold leading-7 mb-10") Security:
                        p(class="text-xl leading-7 mb-10") We take reasonable steps to protect the information we collect from loss, theft, misuse, unauthorized access, disclosure, alteration, and destruction. However, no security measures are 100% effective, and we cannot guarantee the security of your information.
                        p(class="text-xl font-extrabold leading-7 mb-10") Changes to This Privacy Policy:
                        p(class="text-xl leading-7 mb-10") We may update this privacy policy from time to time. If we make any significant changes, we will notify you by posting a new policy on our website or by other means.
                        p(class="text-xl font-extrabold leading-7 mb-10") Contact Us:
                        p(class="text-xl leading-7 mb-10") If you have any questions or concerns about this privacy policy or our data processing, please #[a(href="mailto:privacy@aitok.ai", class="text-blue-500 underline") contact us].
